# deps / кэши / сборки
node_modules/
.expo/
.expo-shared/
web-build/
dist/
build/

# нативные папки (Expo managed)
android/
ios/

# env
.env

# логи / IDE / ОС / metro
*.log
.DS_Store
.idea/
.vscode/
.metro-health-check*

mobile/sandifund-upload-keystore.jks